<web-app>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.com.digiboard.desafioweb.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/lista.xhtml</url-pattern>
    </filter-mapping>
</web-app>